In [1]:
import pandas as pd
import mysql.connector as connector

### Importing Data

In [2]:
df = pd.read_excel('Global Super Store dataset.xlsx')
df.head(3)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,31-07-2012,31-07-2012,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,05-02-2013,07-02-2013,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,17-10-2013,18-10-2013,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium

### Preparing Data

Note that this is done along with Excel as well because it's easier to understand the sheet much better so that when writing scripts later to automate this process, it's easier

In [3]:
#Let's find missing values in each column
print('Missing Values in Each Column\n')
for i in df:
    print(f'{i} : {sum(df[i].isna())}')

Missing Values in Each Column

Row ID : 0
Order ID : 0
Order Date : 0
Ship Date : 0
Ship Mode : 0
Customer ID : 0
Customer Name : 0
Segment : 0
City : 0
State : 0
Country : 0
Postal Code : 41296
Market : 0
Region : 0
Product ID : 0
Category : 0
Sub-Category : 0
Product Name : 0
Sales : 0
Quantity : 0
Discount : 0
Profit : 0
Shipping Cost : 0
Order Priority : 0

In [4]:
#See how mnay unique values are there 
print("Unique values in,\n")
temp = ['City', 'State', 'Country',	'Market', 'Region']
for field in temp:
    print(f'{field} : {df[field].nunique()}')

Unique values in,

City : 3636
State : 1094
Country : 147
Market : 7
Region : 13

In [3]:
#Let's add a new calculated field as "Unit Price"
df['Unit Price']= (df['Sales'] / (1-df['Discount'])) / df['Quantity']
df.head(4)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority,Unit Price
0,32298,CA-2012-124891,31-07-2012,31-07-2012,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical,329.95
1,26341,IN-2013-77878,05-02-2013,07-02-2013,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical,457.95
2,25330,IN-2013-71249,17-10-2013,18-10-2013,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium,638.91
3,13524,ES-2013-1579342,28-01-2013,30-01-2013,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium,642.78

### Extracting Table Entities from the Original DF

In [4]:
#Let's create dataframes that represents each table

customers_cols = ['Customer ID', 'Customer Name', 'Segment']
locations_cols = ['City', 'State', 'Country', 'Postal Code', 'Market', 'Region']
orders_cols = ['Order ID', 'Order Date', 'Sales', 'Quantity', 'Discount', 'Profit', 'Order Priority', 'Ship Date', 'Ship Mode', 'Shipping Cost', 'Customer ID']
products_cols = ['Product ID', 'Category', 'Sub-Category', 'Product Name', 'Unit Price']

In [5]:
table_names = ['Customers', 'Locations', 'Orders', 'Products']
vals = [customers_cols, locations_cols, orders_cols, products_cols]

In [6]:
tbs = {} #To store each table object temporarily before dropping duplicates

for i in range(4):
    temp_tb = df[vals[i]]
    tbs[table_names[i]] = temp_tb

In [7]:
tbs['Orders'].head(3)

,Order ID,Order Date,Sales,Quantity,Discount,Profit,Order Priority,Ship Date,Ship Mode,Shipping Cost,Customer ID
0,CA-2012-124891,31-07-2012,2309.650,7,0.0,762.1845,Critical,31-07-2012,Same Day,933.57,RH-19495
1,IN-2013-77878,05-02-2013,3709.395,9,0.1,-288.7650,Critical,07-02-2013,Second Class,923.63,JR-16210
2,IN-2013-71249,17-10-2013,5175.171,9,0.1,919.9710,Medium,18-10-2013,First Class,915.49,CR-12730

In [8]:
for key,val in tbs.items():
    print(f'Length of <{key}> table: {len(val)}')

Length of <Customers> table: 51290
Length of <Locations> table: 51290
Length of <Orders> table: 51290
Length of <Products> table: 51290

Let's get rid of the duplicates in each table

In [8]:
unique_tables = {} #To store new tables

#Let's remove duplicates for customers, orders, and products tables and add to unique tables disctionary (because they are straightforward)
unique_tables['Customer_tab'] = tbs['Customers'].drop_duplicates()
unique_tables['Orders_tab'] = tbs['Orders'].drop_duplicates()
unique_tables['Products_tab'] = tbs['Products'].drop_duplicates()

In [9]:
#Since Locations need a primary key, lets remove duplicates, add a primary key for unique values and store it in the dictionary object
loc_temp = tbs['Locations'].drop_duplicates()
#Adding the Location ID column
loc_temp.insert(0, 'Location ID', range(1, len(loc_temp) + 1))
unique_tables['locations_tab'] = loc_temp

In [10]:
for key, value in unique_tables.items():
    print(f'Length of table <{key}> : {len(value)}')

Length of table <Customer_tab> : 1590
Length of table <Orders_tab> : 51290
Length of table <Products_tab> : 17240
Length of table <locations_tab> : 3847

Orders is the same size here because every column together in the table, adds a unique record to the table.

Right now all the main tables are done. Now the challenging part. Creating the `Products-Orders` table & `Locations-Customers` table

Let's make the `Products-Orders` table. Here since some products share the same code, we are going to use the `Unit Price` of that product. This is why we added the `Unit Price` caculated field in the beginning of the code.

For example let's say Product ID is 004567. It has 2 products as "Leather Bat", "Mud guard". When this happens we can't distinguish between which product the customer has ordered when joining the orders table and products table for detailed view. Because of that we are using Unit price. So if the "Leather Bat" costs `$4.8` & "Mud guard" costs `$0.8`. We know what product actually the customer ordered for the Order's product ID of 004567 by calculating it's unit price.

In [11]:
#Let's create the products-orders table
orders_products_temp = df[['Order ID', 'Product ID', 'Unit Price']]
orders_products = orders_products_temp.drop_duplicates()
orders_products.tail(6)

             Order ID       Product ID  Unit Price
51284   IN-2014-57662  OFF-BI-10002424       12.90
51285   IN-2014-62366  OFF-FA-10000746       13.02
51286  US-2014-102288  OFF-AP-10002906        2.22
51287  US-2013-155768  OFF-EN-10001219        7.64
51288  MX-2012-140767  OFF-BI-10000806        6.72
51289  MX-2012-134460  OFF-PA-10004155       20.46

Now Let's create the `Locations-Customers` table. For this we need to create two temporary tables. 

* First we need a temporary location table replicate with an additional concat string to match along
* Second we need another temporary table for location table with customer ids without duplicates with the same concat string
* Then we need to check the location ID and add it to the second temporary table using Concat String
* Then we need to extract only the Location ID & Customer ID from the second temporary table & remove it's duplicates

concat_string = f'{df['City']} - {df['State']} - {df['Country']} - {df['Market']} - {df['Region']} ::: {df['Postal Code']}'

In [12]:
#First table is the replicate of locations table with Concat String
temp_1 = unique_tables['locations_tab'].copy()
temp_1['Postal Code'] = temp_1['Postal Code'].astype(str) #Convert postal code to a string or an error will occur when adding concat string
temp_1['Concat String'] = temp_1[['City', 'State', 'Country', 'Market', 'Region', 'Postal Code']].agg('-'.join, axis=1)

In [13]:
#Notice we made a copy of locations table to produce the first temporary table needed to make the locations-customers table
#Check the differences in the columns
print(temp_1.columns)
print(unique_tables['locations_tab'].columns)

Index(['Location ID', 'City', 'State', 'Country', 'Postal Code', 'Market',
       'Region', 'Concat String'],
      dtype='object')
Index(['Location ID', 'City', 'State', 'Country', 'Postal Code', 'Market',
       'Region'],
      dtype='object')

In [14]:
temp_1.head(4)

,Location ID,City,State,Country,Postal Code,Market,Region,Concat String
0,1,New York City,New York,United States,10024.0,US,East,New York City-New York-United States-US-East-1...
1,2,Wollongong,New South Wales,Australia,nan,APAC,Oceania,Wollongong-New South Wales-Australia-APAC-Ocea...
2,3,Brisbane,Queensland,Australia,nan,APAC,Oceania,Brisbane-Queensland-Australia-APAC-Oceania-nan
3,4,Berlin,Berlin,Germany,nan,EU,Central,Berlin-Berlin-Germany-EU-Central-nan

In [15]:
#Next is the location table with customer ids
temp_2_temp = df[['City', 'State', 'Country', 'Postal Code', 'Market', 'Region', 'Customer ID']]
print(f'Before removing duplicates from second table: {len(temp_2_temp)}')
temp_2 = temp_2_temp.drop_duplicates() #When dropping duplicates, it needs to be saved to a new variable. Otherwise effects won't commit
print(f'After removing duplicates from second table: {len(temp_2)}')

Before removing duplicates from second table: 51290
After removing duplicates from second table: 25181

In [16]:
temp_2['Postal Code'] = temp_2['Postal Code'].astype(str)
temp_2['Concat String'] = temp_2[['City', 'State', 'Country', 'Market', 'Region', 'Postal Code']].agg('-'.join, axis=1)
temp_2.head(3)

C:\Users\USER\AppData\Local\Temp\ipykernel_7864\1592578394.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_2['Postal Code'] = temp_2['Postal Code'].astype(str)
C:\Users\USER\AppData\Local\Temp\ipykernel_7864\1592578394.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_2['Concat String'] = temp_2[['City', 'State', 'Country', 'Market', 'Region', 'Postal Code']].agg('-'.join, axis=1)

,City,State,Country,Postal Code,Market,Region,Customer ID,Concat String
0,New York City,New York,United States,10024.0,US,East,RH-19495,New York City-New York-United States-US-East-1...
1,Wollongong,New South Wales,Australia,nan,APAC,Oceania,JR-16210,Wollongong-New South Wales-Australia-APAC-Ocea...
2,Brisbane,Queensland,Australia,nan,APAC,Oceania,CR-12730,Brisbane-Queensland-Australia-APAC-Oceania-nan

Pandas Documentation About Merge: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html

In [17]:
#Let's match everything
result = pd.merge(temp_2, temp_1, on='Concat String', how='left')
result.head(3)

,City_x,State_x,Country_x,Postal Code_x,Market_x,Region_x,Customer ID,Concat String,Location ID,City_y,State_y,Country_y,Postal Code_y,Market_y,Region_y
0,New York City,New York,United States,10024.0,US,East,RH-19495,New York City-New York-United States-US-East-1...,1,New York City,New York,United States,10024.0,US,East
1,Wollongong,New South Wales,Australia,nan,APAC,Oceania,JR-16210,Wollongong-New South Wales-Australia-APAC-Ocea...,2,Wollongong,New South Wales,Australia,nan,APAC,Oceania
2,Brisbane,Queensland,Australia,nan,APAC,Oceania,CR-12730,Brisbane-Queensland-Australia-APAC-Oceania-nan,3,Brisbane,Queensland,Australia,nan,APAC,Oceania

In [18]:
#Let's extract only the required: Location ID & Customer ID
result_temp = result[['Customer ID','Location ID']]
customers_locations = result_temp.drop_duplicates()
(f'Length of <Customer-Locations> Table: {len(customers_locations)}')

'Length of <Customer-Locations> Table: 25181'

In [19]:
#Adding the Customer-Locations & Product-Order tables into "unique_tables" dictionary
unique_tables['customers_locations'] = customers_locations
unique_tables['orders_products'] = orders_products

When opened with Excel, I found that there are duplicates for the `Products` table:

Therefore, we need to remove duplicates specific column wise.

For products table, it's product_id which causes the problem (refer to the code below to get an idea from 1 instance)

In [20]:
#There are duplicate entries for the following product id in Products table, even after removing duplicates
unique_tables['Products_tab'][unique_tables['Products_tab']['Product ID'] == 'TEC-AC-10003033']

,Product ID,Category,Sub-Category,Product Name,Unit Price
0,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,329.95
3021,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,329.95

In [21]:
#Let's remove the duplicates
print(f'Before removing duplicates: {len(unique_tables['Products_tab'])}')
unique_tables['Products_tab'].drop_duplicates('Product ID', inplace=True)
print(f'After removing duplicates: {len(unique_tables['Products_tab'])}')

Before removing duplicates: 17240
After removing duplicates: 10292

C:\Users\USER\AppData\Local\Temp\ipykernel_7864\472613525.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_tables['Products_tab'].drop_duplicates('Product ID', inplace=True)

In [22]:
#Download every table in excel formats if needed
unique_tables['Customer_tab'].to_excel('customers.xlsx', index=False)
unique_tables['Orders_tab'].to_excel('orders.xlsx', index=False)
unique_tables['Products_tab'].to_excel('products.xlsx', index=False)
unique_tables['locations_tab'].to_excel('locations.xlsx', index=False)
unique_tables['customers_locations'].to_excel('customer_locations.xlsx', index=False)
unique_tables['orders_products'].to_excel('order_products.xlsx', index=False)

* I'm creating a function to import the above created tables to load and store in a dictionary.
* Doing this to save time without having go through runnin each line of code to create the tables from scratch

In [24]:
table_imports = {} #Change this name into unique_tables

def getTables():
    customers = pd.read_excel('Tables\customers.xlsx')
    locations = pd.read_excel('Tables\locations.xlsx')
    orders = pd.read_excel('Tables\orders.xlsx')
    products = pd.read_excel('Tables\products.xlsx')
    customer_location = pd.read_excel('Tables\customer_locations.xlsx')
    orders_products = pd.read_excel('Tables\order_products.xlsx')
    return [customers, locations, orders, products, customer_location, orders_products]

tables = getTables()

table_imports['Customer_tab']= tables[0]
table_imports['Orders_tab']= tables[2]
table_imports['Products_tab']= tables[3]
table_imports['locations_tab']= tables[1]
table_imports['customers_locations']= tables[-2]
table_imports['orders_products']= tables[-1]

<>:4: SyntaxWarning: invalid escape sequence '\c'
<>:5: SyntaxWarning: invalid escape sequence '\l'
<>:6: SyntaxWarning: invalid escape sequence '\o'
<>:7: SyntaxWarning: invalid escape sequence '\p'
<>:8: SyntaxWarning: invalid escape sequence '\c'
<>:9: SyntaxWarning: invalid escape sequence '\o'
<>:4: SyntaxWarning: invalid escape sequence '\c'
<>:5: SyntaxWarning: invalid escape sequence '\l'
<>:6: SyntaxWarning: invalid escape sequence '\o'
<>:7: SyntaxWarning: invalid escape sequence '\p'
<>:8: SyntaxWarning: invalid escape sequence '\c'
<>:9: SyntaxWarning: invalid escape sequence '\o'
C:\Users\USER\AppData\Local\Temp\ipykernel_7864\1574178824.py:4: SyntaxWarning: invalid escape sequence '\c'
  customers = pd.read_excel('Tables\customers.xlsx')
C:\Users\USER\AppData\Local\Temp\ipykernel_7864\1574178824.py:5: SyntaxWarning: invalid escape sequence '\l'
  locations = pd.read_excel('Tables\locations.xlsx')
C:\Users\USER\AppData\Local\Temp\ipykernel_7864\1574178824.py:6: SyntaxWarning: invalid escape sequence '\o'
  orders = pd.read_excel('Tables\orders.xlsx')
C:\Users\USER\AppData\Local\Temp\ipykernel_7864\1574178824.py:7: SyntaxWarning: invalid escape sequence '\p'
  products = pd.read_excel('Tables\products.xlsx')
C:\Users\USER\AppData\Local\Temp\ipykernel_7864\1574178824.py:8: SyntaxWarning: invalid escape sequence '\c'
  customer_location = pd.read_excel('Tables\customer_locations.xlsx')
C:\Users\USER\AppData\Local\Temp\ipykernel_7864\1574178824.py:9: SyntaxWarning: invalid escape sequence '\o'
  orders_products = pd.read_excel('Tables\order_products.xlsx')

In [25]:
for key in table_imports.keys():
    print(key)

Customer_tab
Orders_tab
Products_tab
locations_tab
customers_locations
orders_products

In [26]:
for data in table_imports.values():
    print(len(data))

1590
51290
10292
3847
25181
51261

### Let's create databases, Populate them too

**Our database's ER diagram**

<div><img src="1.png" width="500"/></div>

In [27]:
#Importing db credentials
import json

def getCredentials():
    with open('db_credentials.json', 'r') as f:
        db_credentials = json.load(f)
        return db_credentials

In [28]:
#Let's create a connection with out database first
creds = getCredentials()
conn = connector.connect(user = creds['user'], password = creds['password'])
cur = conn.cursor()

In [57]:
#Creating the code needed to create the data tables
cur.execute('CREATE DATABASE GPS;')
cur.execute('SHOW DATABASES;') #Check if the database is created
cur.fetchall()

[('gps',),
 ('information_schema',),
 ('little_lemon',),
 ('lucky_shrub',),
 ('m&g_schema',),
 ('mangata_gallo',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('temporary',),
 ('university',)]

In [29]:
#Since the database is created, let's use it
cur.execute('USE gps;')
conn.database #Checking which database is selected

'gps'

In [30]:
#Let's write a function to get the result as pandas df without having to write execute, fetchall methods
def getOutput(query):
    cur.execute(query)
    rows = cur.fetchall()
    cols = cur.column_names
    return pd.DataFrame(rows, columns=cols)

In [68]:
#Let's create the tables (SQL Statements to create tables)
customers = '''CREATE TABLE customers
(customerID VARCHAR(100) PRIMARY KEY NOT NULL, customerName VARCHAR(200) NOT NULL, segment VARCHAR(50) NOT NULL);'''

orders = '''CREATE TABLE orders
(orderID VARCHAR(100) PRIMARY KEY NOT NULL, orderDate DATE NOT  NULL, sales DECIMAL(6,2) NOT NULL, quantity INT NOT NULL, discount DECIMAL(2,1) NOT NULL, 
profit DECIMAL(6,2) NOT NULL, orderPriority VARCHAR(85) NOT NULL, shipDate DATE NOT NULL, shipMode VARCHAR(100) NOT NULL, shipCost DECIMAL(5,2) NOT NULL, 
customerID VARCHAR(100) NOT NULL, FOREIGN KEY (customerID) REFERENCES customers(customerID) ON DELETE CASCADE ON UPDATE CASCADE);'''

locations= '''CREATE TABLE locations 
(locationID INT PRIMARY KEY NOT NULL, city VARCHAR(100) NOT NULL, state VARCHAR(100), postalID INT, country VARCHAR(75)  NOT NULL, 
region VARCHAR(75) NOT NULL);'''

products= '''CREATE TABLE products
(productID VARCHAR(100) NOT NULL PRIMARY KEY, category VARCHAR(120) NOT NULL, subcategory VARCHAR(200) NOT NULL, productName VARCHAR(175) NOT NULL,
unitPrice DECIMAL(6,2) NOT NULL);'''

order_product= '''CREATE TABLE order_product
(orderID VARCHAR(100) NOT NULL, productID VARCHAR(100) NOT NULL, unitPrice DECIMAL(6,2), PRIMARY KEY(orderID, productID), 
FOREIGN KEY(orderID) REFERENCES orders(orderID) ON DELETE CASCADE ON UPDATE CASCADE,
FOREIGN KEY(productID) REFERENCES products(productID) ON DELETE CASCADE ON UPDATE CASCADE);'''

customer_location= '''CREATE TABLE customer_location
(customerID VARCHAR(100) NOT NULL, locationID INT NOT NULL, PRIMARY KEY(customerID, locationID),
FOREIGN KEY(customerID) REFERENCES customers(customerID) ON DELETE CASCADE ON UPDATE CASCADE,
FOREIGN KEY(locationID) REFERENCES locations(locationID) ON DELETE CASCADE ON UPDATE CASCADE);'''

In [69]:
tables = [customers, orders, locations, products, order_product, customer_location]

#Let's create the data tables
for table in tables:
    cur.execute(table)

In [70]:
getOutput('SHOW TABLES;')

       Tables_in_gps
0  customer_location
1          customers
2          locations
3      order_product
4             orders
5           products

In [33]:
getOutput('SHOW COLUMNS FROM products;')

         Field          Type Null  Key Default Extra
0    productID  varchar(100)   NO  PRI    None
1     category  varchar(120)   NO         None
2  subcategory  varchar(200)   NO         None
3  productName  varchar(175)   NO         None
4    unitPrice  decimal(6,2)   NO         None

### Populating the tables

In [72]:
#Let's write the insert queries for each table
pop_customers = '''INSERT INTO customers(customerID, customerName, segment) VALUES(%s, %s, %s);'''
pop_locations = '''INSERT INTO locations(locationID, city, state, postalID, country, region) VALUES(%s, %s, %s, %s, %s, %s);'''
pop_products = '''INSERT INTO products(productID, category, subcategory, productName, unitPrice) VALUES(%s, %s, %s, %s, %s);'''
pop_orders = '''INSERT INTO orders(orderID, orderDate, sales, quantity, discount, profit, orderPriority, shipDate, shipMode , shipCost, customerID) 
VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);'''
pop_customer_location = '''INSERT INTO customer_location(customerID, locationID) VALUES(%s, %s);'''
pop_order_product = '''INSERT INTO order_product(orderID, productID, unitPrice) VALUES(%s, %s, %s);'''

In [58]:
populate_queries = [pop_customers, pop_orders, pop_products, pop_locations, pop_customer_location, pop_order_product]

In [52]:
#Addin each table into a list
import_from = [i for i in unique_tables.values()]

#Let's populate
#import_from, populate_queries

for iter in range(len(import_from)):
    for index, row in import_from[iter].iterrows():
        cur.execute(populate_queries[iter], tuple(row))

In [82]:
#populating in manual way (Automatic method didn't work yet)
data = []
for iter in range(len(import_from)):
    temp = []
    for index, row in import_from[iter].iterrows():
            temp.append(tuple(row))
    data.append(temp)

In [84]:
for i in data:
    print(len(i))

1590
51290
10292
3847
25181
51261

In [96]:
for data_item, query in zip(data, populate_queries):
    cur.executemany(query, data_item)

IntegrityError: 1062 (23000): Duplicate entry 'RH-19495' for key 'customers.PRIMARY'

In [87]:
for i in range(len(data)):
    cur.executemany(data[i], populate_queries[i])

ProgrammingError: Parameters for query must be list or tuple.

In [93]:
data[4]

[('RH-19495', 1),
 ('JR-16210', 2),
 ('CR-12730', 3),
 ('KM-16375', 4),
 ('RH-9495', 5),
 ('JM-15655', 6),
 ('TS-21340', 7),
 ('MB-18085', 8),
 ('JW-15220', 9),
 ('JH-15985', 10),
 ('GM-14695', 11),
 ('AJ-10780', 12),
 ('MM-7260', 13),
 ('VF-21715', 14),
 ('PF-19120', 15),
 ('BP-11185', 16),
 ('TB-21175', 17),
 ('PJ-18835', 18),
 ('JS-15685', 19),
 ('RH-9555', 20),
 ('AB-600', 21),
 ('SA-20830', 22),
 ('JK-15325', 23),
 ('LB-16795', 24),
 ('NP-18325', 25),
 ('VD-21670', 26),
 ('PB-19210', 27),
 ('EB-14110', 28),
 ('KF-16285', 29),
 ('BP-11230', 30),
 ('RR-19525', 31),
 ('BS-11365', 32),
 ('JE-15745', 33),
 ('DP-13105', 34),
 ('NP-18700', 35),
 ('AH-30', 36),
 ('DM-13015', 37),
 ('GT-14635', 38),
 ('PO-18865', 39),
 ('DL-12865', 3),
 ('JB-16000', 40),
 ('BF-11005', 41),
 ('VG-21805', 42),
 ('GT-14710', 43),
 ('ZC-21910', 4),
 ('SC-20095', 44),
 ('EB-13840', 45),
 ('AP-10915', 46),
 ('SW-20275', 47),
 ('JH-15820', 48),
 ('LC-16885', 37),
 ('TG-11640', 49),
 ('HR-14830', 50),
 ('DG-3300', 51),
 ('SG-20470', 52),
 ('FH-14365', 53),
 ('GP-14740', 54),
 ('MW-18220', 55),
 ('PO-18850', 56),
 ('CS-12460', 57),
 ('KD-16495', 1),
 ('MS-17980', 58),
 ('KC-16675', 59),
 ('DB-13405', 60),
 ('JD-15895', 61),
 ('DK-13090', 62),
 ('CS-11845', 63),
 ('EM-14200', 64),
 ('DW-3480', 65),
 ('AS-10225', 66),
 ('ST-20530', 67),
 ('BW-1065', 68),
 ('LA-16780', 69),
 ('AB-10150', 70),
 ('JH-15820', 71),
 ('CM-12385', 72),
 ('BE-11410', 73),
 ('SZ-20035', 74),
 ('RM-19375', 75),
 ('HG-14845', 76),
 ('DP-3105', 77),
 ('AR-10540', 78),
 ('TP-21415', 79),
 ('JB-16000', 80),
 ('AM-10705', 81),
 ('AB-255', 82),
 ('RP-19270', 6),
 ('BK-11260', 83),
 ('JM-15250', 23),
 ('LW-16990', 84),
 ('NZ-18565', 16),
 ('SV-10815', 85),
 ('SC-20695', 86),
 ('NC-18625', 87),
 ('NF-18385', 88),
 ('NZ-18565', 89),
 ('PM-18940', 90),
 ('MZ-17335', 91),
 ('HM-4980', 92),
 ('RW-19540', 93),
 ('LH-17155', 94),
 ('FH-14365', 95),
 ('KM-16660', 96),
 ('PO-18865', 97),
 ('AB-10060', 98),
 ('AB-10060', 99),
 ('DB-13060', 34),
 ('VM-21685', 100),
 ('BS-11365', 101),
 ('DM-13525', 102),
 ('NM-18520', 103),
 ('LC-16885', 6),
 ('RO-19780', 104),
 ('SB-20185', 105),
 ('EM-14065', 106),
 ('RS-19765', 29),
 ('ON-18715', 107),
 ('VS-21820', 108),
 ('CM-12115', 109),
 ('TB-21400', 1),
 ('AB-10105', 110),
 ('JK-15325', 109),
 ('RP-19270', 111),
 ('DW-13540', 112),
 ('PS-19045', 113),
 ('CC-12370', 114),
 ('TC-21295', 115),
 ('GM-14440', 116),
 ('SV-20815', 117),
 ('MM-17920', 118),
 ('JK-16120', 69),
 ('EM-14200', 119),
 ('DJ-13510', 120),
 ('PM-18940', 121),
 ('AT-10435', 122),
 ('AB-10015', 123),
 ('RP-19390', 124),
 ('MJ-17740', 120),
 ('PV-18985', 125),
 ('SB-20290', 126),
 ('SM-10005', 127),
 ('KF-16285', 128),
 ('KH-16330', 129),
 ('MP-18175', 93),
 ('LH-17020', 130),
 ('ND-18370', 131),
 ('CR-12625', 3),
 ('NC-18625', 57),
 ('GM-14680', 132),
 ('RA-19945', 133),
 ('DB-13060', 134),
 ('BW-11110', 110),
 ('RF-19735', 93),
 ('JH-15820', 135),
 ('AG-10675', 136),
 ('DM-12955', 137),
 ('KD-16270', 138),
 ('BE-11335', 139),
 ('SO-20335', 140),
 ('DK-12835', 141),
 ('LC-7050', 142),
 ('CG-12520', 109),
 ('TB-21280', 143),
 ('HG-15025', 144),
 ('AD-10180', 145),
 ('BP-11155', 70),
 ('AA-10480', 119),
 ('RL-19615', 87),
 ('CS-12505', 146),
 ('SW-20245', 147),
 ('TA-21385', 1),
 ('BW-11110', 148),
 ('YC-21895', 70),
 ('JM-15580', 149),
 ('MZ-7335', 150),
 ('JF-15295', 151),
 ('JL-15835', 152),
 ('DJ-3510', 153),
 ('MF-18250', 154),
 ('TC-21295', 155),
 ('JE-15610', 72),
 ('CP-12340', 156),
 ('EH-14125', 157),
 ('NC-18340', 71),
 ('JS-16030', 144),
 ('AM-10360', 158),
 ('JF-15190', 159),
 ('AB-10015', 160),
 ('JG-15160', 39),
 ('DP-13390', 161),
 ('AG-10330', 162),
 ('GK-14620', 163),
 ('NF-18475', 164),
 ('YC-21895', 165),
 ('DR-12940', 19),
 ('NB-18655', 135),
 ('NM-18445', 166),
 ('TA-21385', 167),
 ('NP-18670', 101),
 ('SC-20380', 168),
 ('PA-9060', 169),
 ('RB-19570', 170),
 ('SR-20740', 1),
 ('RH-19510', 171),
 ('LH-16750', 31),
 ('JG-15160', 172),
 ('KB-16585', 173),
 ('EM-13810', 174),
 ('MZ-7515', 175),
 ('DM-13345', 176),
 ('CA-11965', 177),
 ('SC-20305', 178),
 ('MH-18115', 179),
 ('KS-16300', 109),
 ('BG-11740', 180),
 ('CR-2625', 181),
 ('CB-12415', 182),
 ('DK-13090', 183),
 ('JL-15835', 184),
 ('AP-10720', 185),
 ('CR-12820', 186),
 ('BF-11080', 109),
 ('JM-15265', 168),
 ('TW-21025', 187),
 ('RB-19330', 188),
 ('PS-19045', 189),
 ('JA-15970', 79),
 ('AB-60', 190),
 ('JR-5670', 191),
 ('MD-17350', 99),
 ('PK-19075', 131),
 ('EB-13840', 192),
 ('TP-21130', 193),
 ('JK-15640', 98),
 ('CD-11920', 131),
 ('JL-5835', 194),
 ('EP-13915', 145),
 ('MS-17770', 195),
 ('CM-12655', 196),
 ('JC-6105', 197),
 ('GB-14530', 3),
 ('TW-21025', 98),
 ('JH-16180', 198),
 ('MT-8070', 199),
 ('AB-10105', 200),
 ('LA-16780', 110),
 ('CV-2805', 201),
 ('NH-18610', 202),
 ('HJ-14875', 203),
 ('JL-15175', 204),
 ('MY-18295', 205),
 ('SB-20290', 136),
 ('MW-18235', 206),
 ('KC-16540', 207),
 ('CS-12460', 207),
 ('HA-14920', 208),
 ('MT-17815', 209),
 ('FW-14395', 210),
 ('BH-11710', 4),
 ('DK-12895', 211),
 ('KD-16270', 212),
 ('SC-20845', 213),
 ('CY-12745', 214),
 ('HL-15040', 215),
 ('CT-11995', 216),
 ('CC-12370', 217),
 ('GR-4560', 201),
 ('TT-21070', 218),
 ('PO-19195', 219),
 ('ED-13885', 220),
 ('AP-10915', 145),
 ('TM-21490', 221),
 ('AW-10840', 132),
 ('AT-10735', 222),
 ('SG-10605', 223),
 ('BM-11785', 224),
 ('FH-14365', 214),
 ('DK-13375', 225),
 ('PF-19225', 189),
 ('TG-21310', 163),
 ('YC-21895', 226),
 ('SF-10200', 227),
 ('HL-15040', 165),
 ('JW-5220', 5),
 ('CC-12100', 228),
 ('RD-19930', 229),
 ('BP-1230', 230),
 ('SA-20830', 231),
 ('EM-13810', 232),
 ('CS-12175', 119),
 ('JD-16060', 233),
 ('GH-14665', 234),
 ('CM-11935', 235),
 ('JB-16000', 236),
 ('RB-9465', 237),
 ('RB-19795', 238),
 ('PO-19195', 34),
 ('DL-13495', 114),
 ('TS-21205', 239),
 ('TC-21295', 56),
 ('MV-8190', 240),
 ('NF-18385', 241),
 ('BD-11560', 242),
 ('PS-18760', 81),
 ('FM-14215', 137),
 ('CA-12775', 243),
 ('CD-12790', 58),
 ('NL-18310', 244),
 ('TB-21055', 245),
 ('KD-16495', 246),
 ('EH-4125', 247),
 ('KB-16600', 248),
 ('KW-16435', 249),
 ('MG-17695', 250),
 ('VF-21715', 86),
 ('AM-10705', 144),
 ('HM-14860', 251),
 ('BP-11290', 252),
 ('HZ-4950', 253),
 ('TC-20980', 254),
 ('EM-13825', 255),
 ('BS-11800', 256),
 ('DV-13465', 257),
 ('MB-17305', 6),
 ('PC-19000', 258),
 ('CA-12310', 259),
 ('KC-16255', 260),
 ('MB-18085', 261),
 ('RB-19795', 114),
 ('DB-3660', 262),
 ('SC-20260', 174),
 ('BG-11740', 263),
 ('BD-11500', 264),
 ('BM-11140', 265),
 ('KB-16315', 180),
 ('PK-19075', 93),
 ('CS-12175', 266),
 ('JM-15865', 267),
 ('AF-10885', 268),
 ('SJ-20500', 269),
 ('DM-12955', 270),
 ('WB-21850', 163),
 ('CC-12610', 271),
 ('BW-1065', 272),
 ('BE-11455', 6),
 ('TG-21640', 273),
 ('MS-17365', 105),
 ('NP-18685', 274),
 ('VM-21685', 275),
 ('RM-19675', 163),
 ('SC-20695', 26),
 ('SN-20560', 276),
 ('CD-12280', 6),
 ('CC-12100', 277),
 ('BG-11035', 278),
 ('CC-12550', 279),
 ('AB-10105', 109),
 ('SV-20785', 144),
 ('HW-14935', 280),
 ('AS-10285', 281),
 ('LD-16855', 282),
 ('NS-18505', 283),
 ('CM-12715', 284),
 ('VG-21805', 285),
 ('JD-6060', 286),
 ('MG-17680', 220),
 ('CD-12280', 54),
 ('DB-13210', 70),
 ('CS-11860', 213),
 ('AF-10885', 287),
 ('GG-14650', 288),
 ('BN-11470', 119),
 ('BS-1665', 289),
 ('AC-10450', 290),
 ('CK-12205', 291),
 ('JD-16150', 292),
 ('CC-2550', 65),
 ('MS-17830', 70),
 ('SM-20950', 79),
 ('GT-14710', 258),
 ('CL-12700', 293),
 ('MM-17920', 294),
 ('CM-12160', 207),
 ('DB-13060', 295),
 ('JW-5220', 51),
 ('BN-11470', 296),
 ('JC-15775', 297),
 ('HL-15040', 207),
 ('LH-16900', 298),
 ('DV-13045', 299),
 ('BT-11530', 300),
 ('BM-1650', 301),
 ('MG-18205', 302),
 ('RB-19705', 131),
 ('FC-14245', 303),
 ('TT-21220', 137),
 ('CY-12745', 304),
 ('SJ-20215', 214),
 ('PB-18805', 207),
 ('RW-19690', 305),
 ('RW-19540', 306),
 ('DB-3360', 307),
 ('DK-13150', 4),
 ('RW-9540', 190),
 ('PS-19045', 308),
 ('MP-17470', 131),
 ('TB-21625', 37),
 ('MO-17800', 309),
 ('NF-18475', 310),
 ('MR-17545', 311),
 ('CB-12415', 312),
 ('LC-17050', 313),
 ('RA-19885', 148),
 ('MG-8145', 314),
 ('JE-16165', 315),
 ('JK-16090', 316),
 ('EM-13960', 317),
 ('DJ-13420', 318),
 ('CD-11920', 319),
 ('BO-11425', 320),
 ('LW-17215', 131),
 ('PJ-19015', 321),
 ('KM-16720', 86),
 ('SV-20785', 322),
 ('BG-11695', 323),
 ('CS-12130', 71),
 ('MC-17425', 324),
 ('BD-1635', 325),
 ('RF-19345', 258),
 ('JE-16165', 145),
 ('MG-7680', 326),
 ('KH-16690', 327),
 ('CC-12475', 328),
 ('LT-16765', 329),
 ('FH-14365', 330),
 ('BF-10975', 331),
 ('CJ-12010', 130),
 ('SH-9975', 332),
 ('SL-20155', 228),
 ('NC-8340', 333),
 ('JB-5400', 169),
 ('TB-21250', 334),
 ('PS-18970', 335),
 ('BB-11545', 336),
 ('SG-10470', 337),
 ('SP-20920', 119),
 ('NZ-18565', 338),
 ('Dp-13240', 339),
 ('GZ-14470', 340),
 ('AH-10075', 341),
 ('CB-2025', 342),
 ('SC-20050', 34),
 ('AM-10705', 343),
 ('SC-10230', 344),
 ('JS-15595', 144),
 ('BS-11380', 81),
 ('TC-21295', 119),
 ('JL-5130', 345),
 ('Dp-13240', 346),
 ('NF-18385', 57),
 ('AS-10090', 43),
 ('EL-13735', 71),
 ('FH-14275', 347),
 ('LT-16765', 348),
 ('BN-11470', 349),
 ('BP-11230', 258),
 ('DM-13525', 300),
 ('OT-18730', 350),
 ('SM-10320', 351),
 ('PM-19135', 352),
 ('TS-11430', 353),
 ('TS-21340', 354),
 ('AM-10705', 3),
 ('LS-17245', 355),
 ('DR-12940', 6),
 ('DW-3480', 356),
 ('SF-20200', 357),
 ('CM-11815', 276),
 ('FG-14260', 358),
 ('KN-6705', 359),
 ('TB-11520', 360),
 ('GM-14440', 361),
 ('CM-12655', 131),
 ('JB-15400', 362),
 ('JS-16030', 276),
 ('AM-10705', 86),
 ('SF-20200', 363),
 ('AM-10705', 364),
 ('JF-15295', 365),
 ('KH-16510', 366),
 ('DL-13330', 317),
 ('KN-16390', 367),
 ('SV-20935', 60),
 ('MD-17860', 6),
 ('LS-17200', 368),
 ('JM-15865', 355),
 ('AC-10450', 369),
 ('CM-12445', 2),
 ('SS-20140', 370),
 ('BW-11110', 371),
 ('JE-15610', 372),
 ('GH-14425', 373),
 ('JK-16090', 54),
 ('SM-20320', 374),
 ('CJ-12010', 37),
 ('GR-14560', 214),
 ('TS-21370', 375),
 ('DH-3675', 376),
 ('MM-8280', 377),
 ('PM-9135', 378),
 ('GH-14425', 379),
 ('JM-15865', 380),
 ('CM-12115', 381),
 ('SC-20845', 349),
 ('GP-4740', 82),
 ('AF-10870', 273),
 ('TS-21505', 90),
 ('CR-12730', 382),
 ('BM-11575', 3),
 ('AH-10030', 213),
 ('AG-10495', 183),
 ('BN-11470', 383),
 ('MW-18235', 174),
 ('AG-675', 384),
 ('SW-20755', 385),
 ('SK-19990', 386),
 ('MP-18175', 220),
 ('AG-10900', 214),
 ('AJ-960', 82),
 ('MC-7275', 387),
 ('JF-15295', 141),
 ('ER-13855', 152),
 ('EJ-13720', 252),
 ('MS-17365', 388),
 ('AJ-10780', 389),
 ('DH-13675', 390),
 ('NM-18445', 1),
 ('HE-14800', 391),
 ('KT-16480', 79),
 ('SB-20170', 392),
 ('EM-14140', 393),
 ('VT-21700', 394),
 ('JS-15880', 395),
 ('BC-11125', 396),
 ('NF-18595', 397),
 ('FC-14245', 398),
 ('RH-9600', 399),
 ('RB-19330', 400),
 ('CS-11950', 401),
 ('BW-11110', 402),
 ('CM-12235', 403),
 ('LW-16825', 404),
 ('RD-19585', 405),
 ('JS-15880', 72),
 ('BT-11680', 406),
 ('SG-20470', 407),
 ('AC-10450', 44),
 ('TB-21175', 408),
 ('MD-7860', 409),
 ('JH-16180', 410),
 ('CC-12145', 411),
 ('XP-21865', 257),
 ('TS-21370', 412),
 ('ML-17410', 221),
 ('TT-21070', 395),
 ('BS-11665', 413),
 ('SC-20230', 414),
 ('CA-11965', 415),
 ('QJ-19255', 416),
 ('RE-19450', 31),
 ('CP-2085', 417),
 ('JK-5730', 418),
 ('HZ-14950', 358),
 ('AR-10570', 93),
 ('EH-14005', 419),
 ('JR-15700', 420),
 ('PL-18925', 421),
 ('TC-21145', 214),
 ('DG-13300', 214),
 ('LW-16990', 422),
 ('Dl-13600', 423),
 ('SC-20095', 424),
 ('NC-18415', 425),
 ('EB-13930', 426),
 ('CP-12085', 251),
 ('SM-20005', 427),
 ('JR-15670', 428),
 ('CM-12160', 148),
 ('DL-12925', 2),
 ('FM-14290', 429),
 ('DP-13165', 302),
 ('CK-12595', 430),
 ('GM-14440', 431),
 ('CM-11830', 432),
 ('PP-18955', 53),
 ('RW-19690', 79),
 ('MM-17260', 433),
 ('ME-17320', 390),
 ('CS-12490', 434),
 ('GH-14410', 435),
 ('ME-17320', 17),
 ('MC-17635', 436),
 ('VT-21700', 437),
 ('TB-21625', 79),
 ('SJ-20215', 438),
 ('CD-11920', 235),
 ('TA-21385', 86),
 ('DJ-13420', 439),
 ('DP-13105', 440),
 ('LM-7065', 441),
 ('AR-10510', 442),
 ('JH-15910', 443),
 ('PC-19000', 112),
 ('CM-12235', 444),
 ('DK-3375', 92),
 ('EG-13900', 445),
 ('AH-10075', 446),
 ('DK-12895', 145),
 ('AS-10630', 447),
 ('CL-11890', 448),
 ('CA-12265', 449),
 ('PF-19165', 450),
 ('DB-12970', 451),
 ('PC-19000', 452),
 ('VS-21820', 93),
 ('CL-12565', 453),
 ('DR-12940', 171),
 ('JR-15670', 454),
 ('MF-17665', 455),
 ('IM-15055', 174),
 ('EB-13930', 456),
 ('EB-13975', 391),
 ('AA-10315', 457),
 ('MV-17485', 458),
 ('JW-15955', 459),
 ('LA-16780', 460),
 ('FM-14215', 18),
 ('HG-15025', 461),
 ('HW-14935', 274),
 ('TS-21610', 174),
 ('MC-17575', 462),
 ('MC-17635', 214),
 ('CR-12625', 239),
 ('JF-5415', 82),
 ('AH-10210', 463),
 ('PM-19135', 464),
 ('PO-19195', 465),
 ('BM-11785', 466),
 ('KD-16345', 30),
 ('TS-21610', 467),
 ('AR-10510', 468),
 ('PG-18895', 469),
 ('LC-17050', 470),
 ('DJ-13420', 471),
 ('HK-14890', 472),
 ('CJ-12010', 473),
 ('RR-19315', 34),
 ('HH-5010', 474),
 ('SH-20635', 475),
 ('AR-10825', 476),
 ('DV-13465', 477),
 ('RP-9855', 478),
 ('NF-18385', 25),
 ('DM-13345', 479),
 ('LR-17035', 135),
 ('DR-12940', 480),
 ('AF-10870', 481),
 ('IM-5055', 482),
 ('VG-21805', 483),
 ('CK-12325', 484),
 ('AS-285', 485),
 ('DK-12985', 257),
 ('ED-13885', 407),
 ('RW-19540', 486),
 ('EH-4185', 487),
 ('ML-17395', 145),
 ('BF-11215', 207),
 ('MB-7305', 92),
 ('CR-12580', 120),
 ('TB-21520', 488),
 ('KN-16450', 93),
 ('HR-14770', 168),
 ('CK-12760', 489),
 ('PB-19210', 2),
 ('AC-10450', 490),
 ('DM-12955', 491),
 ('AA-10480', 492),
 ('RO-9780', 493),
 ('KM-16720', 494),
 ('MR-17545', 2),
 ('SP-20920', 439),
 ('EN-13780', 131),
 ('AH-10465', 236),
 ('EB-13840', 395),
 ('AH-10585', 19),
 ('CV-2805', 495),
 ('JK-15325', 275),
 ('RB-9435', 496),
 ('AG-525', 497),
 ('AR-10345', 498),
 ('MW-8220', 499),
 ('AH-210', 500),
 ('FC-14245', 501),
 ('ML-17410', 502),
 ('TH-21235', 6),
 ('TW-21025', 503),
 ('LT-7110', 504),
 ('KN-16390', 505),
 ('HD-14785', 506),
 ('CC-12610', 327),
 ('BE-11455', 34),
 ('MC-7575', 142),
 ('CS-12460', 507),
 ('ME-17320', 508),
 ('SW-20275', 509),
 ('MH-18025', 369),
 ('CR-12820', 137),
 ('HM-14860', 510),
 ('CC-2475', 511),
 ('JM-15250', 512),
 ('PS-18970', 513),
 ('CM-12190', 514),
 ('QJ-19255', 515),
 ('TS-21505', 145),
 ('JD-16150', 407),
 ('KM-16720', 516),
 ('RA-19915', 517),
 ('SB-20185', 518),
 ('MT-18070', 519),
 ('JF-15415', 520),
 ('MT-8070', 521),
 ('ES-14020', 141),
 ('KM-16375', 171),
 ('AB-600', 522),
 ('PS-18970', 215),
 ('EB-13975', 523),
 ('AF-10870', 524),
 ('MC-17425', 525),
 ('CC-12685', 526),
 ('EH-4125', 527),
 ('IM-15070', 81),
 ('BS-11665', 279),
 ('SM-10320', 528),
 ('DA-13450', 529),
 ('DB-13060', 530),
 ('SS-10410', 531),
 ('BM-11650', 532),
 ('LC-16885', 533),
 ('TC-20980', 534),
 ('SW-20350', 426),
 ('JW-15220', 535),
 ('DA-13450', 536),
 ('CM-1830', 169),
 ('CS-11845', 166),
 ('MO-17800', 470),
 ('CR-12730', 537),
 ('MY-17380', 538),
 ('MS-7830', 539),
 ('SW-20755', 87),
 ('HG-14965', 276),
 ('MG-17680', 163),
 ('DC-13285', 137),
 ('DL-13315', 70),
 ('TH-21235', 540),
 ('DB-13060', 101),
 ('JK-15370', 541),
 ('AS-10285', 542),
 ('CH-2070', 543),
 ('ST-20530', 297),
 ('SP-20920', 134),
 ('MH-7440', 544),
 ('MC-17845', 545),
 ('CS-11845', 546),
 ('PW-19030', 547),
 ('BS-11590', 548),
 ('PK-19075', 174),
 ('DO-13435', 549),
 ('SG-20890', 470),
 ('SU-20665', 22),
 ('JC-16105', 34),
 ('TB-21190', 550),
 ('KD-16270', 551),
 ('BM-11140', 145),
 ('SV-10785', 552),
 ('AH-10030', 553),
 ('WB-21850', 554),
 ('VP-21760', 141),
 ('EG-13900', 555),
 ('TC-21145', 556),
 ('LR-16915', 41),
 ('GK-14620', 222),
 ('MD-17860', 274),
 ('TH-21550', 119),
 ('HD-14785', 235),
 ('TP-21130', 295),
 ('TC-11145', 557),
 ('JL-15235', 31),
 ('DM-13345', 558),
 ('RK-19300', 559),
 ('CC-12670', 560),
 ('TC-20980', 290),
 ('DB-13555', 561),
 ('CM-12385', 109),
 ('BG-11035', 562),
 ('SG-20605', 37),
 ('CA-11965', 563),
 ('MG-17890', 276),
 ('MA-17560', 1),
 ('MM-17260', 180),
 ('TG-21640', 112),
 ('CC-12370', 564),
 ('SC-20845', 565),
 ('PS-19045', 391),
 ('CB-12025', 145),
 ('DH-13075', 131),
 ('BT-11395', 566),
 ('SJ-20500', 137),
 ('MC-17845', 16),
 ('MG-18205', 567),
 ('RA-19915', 568),
 ('TT-11265', 342),
 ('TH-11235', 569),
 ('DM-13015', 570),
 ('VG-21790', 571),
 ('JW-15955', 572),
 ('ZC-21910', 573),
 ('NW-18400', 574),
 ('HW-14935', 575),
 ('VP-21730', 3),
 ('SS-20410', 576),
 ('JE-15715', 37),
 ('AG-270', 577),
 ('NC-18340', 578),
 ('BW-11200', 579),
 ('FM-14215', 580),
 ('EK-13795', 226),
 ('SG-20080', 581),
 ('PF-19120', 582),
 ('NL-18310', 166),
 ('SC-10725', 583),
 ('CA-12265', 584),
 ('BB-11545', 585),
 ('NM-18520', 105),
 ('AG-10525', 586),
 ('PL-18925', 587),
 ('AB-10015', 275),
 ('TS-21505', 148),
 ('MG-18145', 588),
 ('CM-12385', 226),
 ('RD-19585', 589),
 ('PJ-18835', 327),
 ('BD-11605', 87),
 ('PB-19105', 590),
 ('AB-10150', 258),
 ('GK-14620', 591),
 ('SC-20575', 592),
 ('CC-12475', 593),
 ('DO-3435', 594),
 ('NS-18505', 95),
 ('CC-12220', 1),
 ('TS-21430', 595),
 ('VM-21685', 596),
 ('AZ-10750', 236),
 ('SL-20155', 597),
 ('IG-15085', 598),
 ('SP-20860', 514),
 ('GZ-14470', 532),
 ('KM-16225', 446),
 ('BS-11365', 599),
 ('TC-21145', 71),
 ('KM-6720', 600),
 ('GM-14440', 34),
 ('AH-10585', 601),
 ('BF-10975', 572),
 ('MM-18055', 602),
 ('NF-18385', 603),
 ('RB-19360', 604),
 ('NC-8415', 605),
 ('GR-14560', 606),
 ('TS-21370', 131),
 ('SN-20710', 446),
 ('DL-3330', 607),
 ('BP-11185', 114),
 ('JG-15115', 608),
 ('CJ-11875', 3),
 ('AY-10555', 609),
 ('CP-12340', 610),
 ('MP-17470', 611),
 ('PJ-19015', 70),
 ('NC-18415', 205),
 ('BV-11245', 612),
 ('LW-16825', 613),
 ('BO-11425', 16),
 ('DJ-13420', 614),
 ('EB-13840', 426),
 ('SG-20470', 615),
 ('PO-9195', 616),
 ('CS-11845', 617),
 ('KB-16585', 618),
 ('EM-14140', 619),
 ('KN-16390', 620),
 ('SL-20155', 621),
 ('CM-12115', 516),
 ('GZ-4545', 622),
 ('DK-12985', 623),
 ('AS-10090', 624),
 ('DK-12985', 54),
 ('PN-18775', 433),
 ('MS-17980', 625),
 ('EH-14125', 516),
 ('AG-10900', 626),
 ('BS-11590', 627),
 ('BP-11185', 70),
 ('BH-11710', 388),
 ('AS-285', 289),
 ('SC-20800', 628),
 ('ME-17320', 629),
 ('SV-20815', 34),
 ('AC-10615', 37),
 ('MP-18175', 358),
 ('VB-21745', 630),
 ('TT-11460', 631),
 ('PS-18760', 632),
 ('RR-19525', 235),
 ('AC-10420', 397),
 ('TP-21130', 95),
 ('CG-12040', 202),
 ('BG-11035', 633),
 ('CR-12580', 220),
 ('TR-11325', 474),
 ('SC-20440', 634),
 ('CA-12775', 54),
 ('BT-11680', 130),
 ('BT-11305', 635),
 ('CC-12370', 636),
 ('BG-11695', 637),
 ('DC-13285', 638),
 ('JE-15745', 221),
 ('DB-13210', 639),
 ('LS-17200', 640),
 ('BE-11335', 641),
 ('MH-18025', 109),
 ('JB-15925', 642),
 ('TW-21025', 643),
 ('GW-14605', 644),
 ('SC-20725', 645),
 ('LR-16915', 646),
 ('EH-13765', 647),
 ('YS-21880', 395),
 ('FO-14305', 648),
 ('SV-10815', 649),
 ('JF-15415', 650),
 ('HA-14920', 651),
 ('SS-20140', 652),
 ('RP-19855', 119),
 ('AB-10060', 653),
 ('CM-12655', 407),
 ('RB-19330', 214),
 ('LW-17215', 34),
 ('AR-10510', 654),
 ('AG-10900', 655),
 ('AB-10600', 656),
 ('JS-15595', 657),
 ('LH-17155', 658),
 ('KB-16240', 659),
 ('KA-16525', 257),
 ('BM-11140', 6),
 ('JL-15175', 256),
 ('EM-3960', 82),
 ('AS-10225', 660),
 ('SC-20230', 661),
 ('JD-15790', 662),
 ('JL-15850', 663),
 ('JW-16075', 8),
 ('LL-6840', 92),
 ('TH-21100', 424),
 ('MC-17275', 76),
 ('NG-8430', 664),
 ('ML-17410', 665),
 ('KD-16615', 275),
 ('MC-17605', 31),
 ('DL-12925', 666),
 ('JK-15625', 257),
 ('BD-11500', 145),
 ('CP-12085', 667),
 ('LB-16795', 668),
 ('KN-16450', 623),
 ('TM-21490', 211),
 ('TS-11505', 493),
 ('LD-6855', 504),
 ('LP-17080', 71),
 ('KA-16525', 669),
 ('DK-13150', 26),
 ('KD-16495', 670),
 ('BB-11545', 19),
 ('CV-12805', 671),
 ('BN-11470', 180),
 ('CM-11935', 672),
 ('SK-19990', 673),
 ('BE-11410', 674),
 ...]